<!DOCTYPE html>
<html>
    <%- include('../../layout/head.ejs') %>
    <body>
      <%- include('../../layout/header.ejs') %>
      <main>
      <% savedRecipes.forEach( recipe => { %>
        <h3> <%= recipe.title %> </h3>
        <p> <%= recipe.description %> </p>
        <p> <%= recipe.created_by %> </p>
        <p> <%= recipe.source %> </p>

      <% }) %>
      </main>
      <%- include('../../layout/footer.ejs') %>
    </body>
</html>
